
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    width:100vw;
    background-color:#7f8c8d;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size: 20px;   
}
.code{
    height: 500px;
    width: 500px;
    background-color:white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
#size{
    height: 30px;
    width: 100%;
}
.form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group-clr{
    display: flex;
    width: 200px;
    gap: 12px;
    margin-bottom:10px ;
}

button{
    height: 40px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 40px;
    background-color: #2980b9;
    outline: none;
    border: none;
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    border-radius: 5px;
}
#btns{
    text-decoration: none;
    text-transform: capitalize;
    background-color: green;
    color: white;
    position: absolute;
    text-align: center; 
    display:block;
    width: 80%;
    height: 40px;
    font-size: 17px;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);border-radius: 5px;
    line-height: 40px;
}
#qrcode img{
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    overflow: none;
    object-fit: contain;
}
input{
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid rgb(44, 43, 43,.7);
}
#url::placeholder{
   padding-left: 10px;
}

.output{
    height:500px;
    width:500px;
    background-color: #2d3436;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p{
    color: white;
    position: absolute;
    margin-top: 150px;
   
}
.loader{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #2d3436;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.spinner{
    height: 30px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #636e72;
    position: absolute;
}
.spinner:nth-child(1){
    transform: rotate(0deg);
    animation: animate1 5s ease-in-out infinite;
    animation-delay: .2s;transform-origin: center;
    z-index: 3;

}
.spinner:nth-child(2){
    transform: rotate(120deg);
    
    animation: animate2 5s ease-in-out infinite;
    animation-delay: .4s;transform-origin: center;
    z-index: 2;
}
.spinner:nth-child(3){
    transform: rotate(240deg);
    
    animation: animate3 5s ease-in-out infinite;
    animation-delay: .6s;transform-origin: center;
    z-index: 1;
}
@keyframes animate1{
    50%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    50%{
        transform: rotate(420deg);
    }
}

@keyframes animate3{
    50%{
        transform: rotate(480deg);
    }
}